
.markwinner{
	cursor: pointer;
	position: absolute;
    width: 80px;
    height: 60px;
    background-color: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin: 0 0 75px 0;
    z-index: 1;
}

.cavas{
	cursor: pointer;
	transition: transform 2s cubic-bezier(0.01, 0.0, 0.2, 1);
	width: 600px; 
	height: 600px; 
}

.wave{
	position: absolute;
	cursor: pointer;
	width: 600px; 
	height: 600px; 
	background-color: white;
	border-radius: 50%;
	animation: wave-animation 1s ease-out infinite;
	z-index: -1;
}

.text{
	min-height: 400px;
    background: #606be5;
    padding: 20px;
    color: #ffca62;
    font-family: sans-serif;
    font-size: 20px;
    border: 4px solid #f43d6d;
    border-radius: 10px;
	box-shadow: inset 4px 4px 0px 3px #00000042;
	z-index: 2;
}

.wave-container .wave:nth-child(1) {
animation-delay: 0s;
}
.wave-container .wave:nth-child(2) {
animation-delay: 1s;
}
.wave-container .wave:nth-child(3) {
animation-delay: 2s;
}
  
@keyframes wave-animation {
	0% {
		transform: translate(0%, 0%) scale(0);
		opacity: 0.7;
	}
	100% {
		transform: translate(0%, 0%) scale(1.5);
		opacity: 0;
	}
}

@media (max-width: 1000px) {
	.container{
		flex-direction: column;
	}
	.cavas{
		margin: 0;
	}
	.content{
		margin: 40px 0 0 0;
	}

	.text{
		margin: 40px;
	}

}

@media (max-width: 900px) {
	.cavas{
		width: 500px; 
		height: 500px; 
	}

	.markwinner{
		position: absolute;
		width: 60px;
		height: 40px;
		background-color:white;
		clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
		margin: 0 0 70px 0;
		z-index: 1;
	}

	.container{
		flex-direction: column;
	}
	
}

@media (max-width: 650px) {
	.cavas{
		width: 400px; 
		height: 400px; 
	}

	.markwinner{
		position: absolute;
		width: 30px;
		height: 20px;
		background-color:white;
		clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
		margin: 0 0 65px 0;
		z-index: 1;
	}
}